@tailwind base;
@tailwind components;
@tailwind utilities;

/* bellefair-regular - latin */
@font-face {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/bellefair-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/bellefair-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/barlow-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/barlow-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/barlow-condensed-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h1,
h2,
h3,
h4 {
  font-family: 'Bellefair';
  font-weight: 'regular';
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
